body{
background-color: black;
}

img[for=bg]{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}
div[for=header]{
font-size: 30px;
text-align: center;
color: white;
z-index: 10;
}

div[for=prezi]{
  
  text-align: center;
 position: absolute;
 left: 0; right: 0;
margin: auto;
  z-index: 10;
}


div[for=leftpanel]{
  background-color: black;
  color: white;
  position fixed;
 left: 0;
 top: 0;
 height: 650px;
 width: 300px;
}

div[for=rightpanel]{
  background-color: black;
  color: white;
  position fixed;
 right: 0;
 top: 0;
 height: 650px;
 width: 300px;
}
